<!-- -->

<launch>
	<node pkg="pg_driver" type="singleCam_node" name="single_Cam" output="screen"/>

	<node pkg="pg_driver" type="single_sub_node" name="single_sub" output="screen"/>
	
	<node pkg="image_view" type="image_view" name="cam_view">
	      <remap from="image"  to="/transfrom/ros_img"/>
	</node>
</launch>
